.container {
  padding: 2rem;
  min-height: 100vh;
  background-color: #f9fafc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #222;
  font-size: 1.8rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 1.2rem 1rem;
  width: 260px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border-color: #d3d3d3;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 1.0rem;
  color: #1c1c1c;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}

.noRestaurants {
  text-align: center;
  font-size: 1.1rem;
  color: #777;
  margin-top: 3rem;
}
.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius:6px;
  margin-bottom: -5px;
}
.button {
  background-color: #ffa500;
  color: white;
  border: none;
  /* padding: 0px 7px; */
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
  height:40px;

}

.button:hover {
  background-color: #e69500;
}